# ENTER PORT NUMBER
PORT=

# Enter a secret only you know
JWTSECRET=

# ENTER MONGODB URL
MONGODB_URI=

# Your IP Address
MINIO_ENDPOINT=

# Minio PORT Number (Default 9000)
MINIO_PORT=9000

# SSL
MINIO_USE_SSL=false

# Minio Username (can be changed any time)
MINIO_ACCESS_KEY=minioadmin

# Minio Password (can be changed any time)
MINIO_SECRET_KEY=minioadmin

# Minio container name
MINIO_BUCKET=

# Minio Region
MINIO_REGION=us-east-1

# Directory where you want to keep Minio files in server (Optional)
DIRECTORY=

# True if not deployed
SELF_HOSTED=true